/* You can add global styles to this file, and also import other style files */

/* === Plugin styles === */

@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "~nouislider/distribute/nouislider.min.css";
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~react-bootstrap-typeahead/css/Typeahead-bs4.css';
@import '~react-datepicker/dist/react-datepicker.css';


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "../assets/styles/variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "../assets/styles/fonts";
@import "../assets/styles/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "../assets/styles/mixins/animation";
@import "../assets/styles/mixins/badges";
@import "../assets/styles/mixins/buttons";
@import "../assets/styles/mixins/misc";
@import "../assets/styles/mixins/color-functions";
@import "../assets/styles/mixins/cards";
@import "../assets/styles/mixins/blockqoute";
@import "../assets/styles/mixins/popovers";
@import "../assets/styles/mixins/tooltips";
@import "../assets/styles/mixins/no-ui-slider";


/* === Core Styles === */
@import "../assets/styles/background";
@import "../assets/styles/typography";
@import "../assets/styles/reset";
@import "../assets/styles/responsive";
@import "../assets/styles/misc";
@import "../assets/styles/utilities";
@import "../assets/styles/demo";
@import "../assets/styles/spinner";
@import "../assets/styles/dashboard";

/* === Components === */

@import "../assets/styles/components/widgets";
@import "../assets/styles/components/forms";
@import "../assets/styles/components/checkbox-radio";
@import "../assets/styles/components/icons";
@import "../assets/styles/components/tables";
@import "../assets/styles/components/accordions";
@import "../assets/styles/components/buttons";
@import "../assets/styles/components/breadcrumbs";
@import "../assets/styles/components/badges";
@import "../assets/styles/components/cards";
@import "../assets/styles/components/preview";
@import "../assets/styles/components/tooltips";
@import "../assets/styles/components/user-profile";
@import "../assets/styles/components/popovers";
@import "../assets/styles/components/lists";
@import "../assets/styles/components/bootstrap-progress";
@import "../assets/styles/components/bootstrap-alerts";
@import "../assets/styles/components/tabs";
@import "../assets/styles/components/dropdowns";
@import "../assets/styles/components/pagination";
@import "../assets/styles/components/loaders/loaders";
@import "../assets/styles/components/timeline";
@import "../assets/styles/components/portfolio";
@import "../assets/styles/components/pricing-table";
@import "../assets/styles/components/email/mail-list-container";
@import "../assets/styles/components/email/mail-sidebar";
@import "../assets/styles/components/email/message-content";
@import "../assets/styles/components/todo-list";
@import "../assets/styles/components/spinner";
@import "../assets/styles/components/tickets";
@import "../assets/styles/components/project-list";
@import "../assets/styles/components/product-tile";
@import "../assets/styles/components/user-listing";
@import "../assets/styles/components/landing";
@import "../assets/styles/components/chats";
@import "../assets/styles/components/kanban";
@import "../assets/styles/components/react-table";

@import "../assets/styles/components/landing-screens/auth";

/* === Plugin Overrides === */
@import "../assets/styles/components/plugin-overrides/contex-menu";
@import "../assets/styles/components/plugin-overrides/no-ui-slider";
@import "../assets/styles/components/plugin-overrides/slick-carousel";
@import "../assets/styles/components/plugin-overrides/rating";
@import "../assets/styles/components/plugin-overrides/date-picker";
@import "../assets/styles/components/plugin-overrides/wizard";
@import "../assets/styles/components/plugin-overrides/react-bootstrap-table";
@import "../assets/styles/components/plugin-overrides/sweet-alert";
@import "../assets/styles/components/plugin-overrides/full-calendar";
@import "../assets/styles/components/plugin-overrides/react-photo-gallery";
@import "../assets/styles/components/plugin-overrides/react-tag-autocomplete";
@import "../assets/styles/components/plugin-overrides/jquery-jvectormap";
@import "../assets/styles/components/plugin-overrides/react-table";

/* === Layout === */
@import "../assets/styles/navbar";
@import "../assets/styles/sidebar";
@import "../assets/styles/footer";
@import "../assets/styles/layout";
@import "../assets/styles/settings-panel";



/* === Customs === */
@import "../assets/styles/components/style-sip-calc";

.p0{
    padding: 0px !important;
}

// client page

ul.client-list {
    list-style: none;
    display: inline-flex;
    padding: 0px 10px;
}
ul.client-list li{
    padding: 0px 5px;
}


// contact No

.contact_no::before {
    position: absolute;
    content: ' +91 ';
    top: 11px;
    left: 28px;
}
.contact_no{
    position: relative;
}
.contact_no input.form-control {
    padding-left: 38px;
}

//dashboard
.css-1r9i9ek {
    display: flex;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    height: 100%;
}
.css-1v3kl7i {
    display: flex;
    min-width: 56px;
    height: 56px;
    margin-right: 6px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-1jxw1sp {
    background-color: RGBA(255, 255, 255);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, RGBA(56, 184, 242), RGBA(132, 60, 246));
}
.css-622j8h {
    display: flex;
    width: 126px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    background-color: RGBA(255, 255, 255);
    border-radius: 60%;
    outline: RGBA(255, 255, 255, 0.2) solid 10px;
    margin: 0px 10px 0px -70px;
}
.css-1cdh7ge {
    padding: 10px;
    flex: 1 1 0%;
    align-self: center;
}
.css-uicpbe {
    margin: 0px 0px 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: NoirPro, Arial;
    color: RGBA(255, 255, 255);
}
.css-5pv1sx {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: NoirPro, Arial;
    color: RGBA(255, 255, 255);
}
.css-1h2yj1z {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 36px;
}
.css-1jxw1sp2 { 
    background-color: RGBA(255, 255, 255);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, rgb(251, 199, 154), rgb(215, 62, 104));
}
.css-1jxw1sp3 {
    background-color: RGBA(255, 255, 255);
    background-color: RGBA(0, 196, 180);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, rgb(0, 199, 154), rgb(0, 196, 180));
}
.css-1jxw1sp4 {
    background-color: RGBA(255, 255, 255);
    background-color: RGBA(0, 196, 180);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, rgb(242, 199, 154), rgb(243, 151, 17));
}
.css-1jxw1sp5 {
    background-color: RGBA(255, 255, 255);
    background-color: RGBA(0, 196, 180);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;   
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, rgb(125, 199, 154), rgb(125, 9, 119));
}
.css-1jxw1sp6 {
    background-color: RGBA(255, 255, 255);
    background-color: RGBA(0, 196, 180);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    height: 115px;
    background-image: linear-gradient(135deg, rgb(255, 199, 154), rgb(255, 243, 23));
}
.css-1oiueny {
    background-color: RGBA(255, 255, 255);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    position: relative;
}
.css-o2tasi {
    background-color: RGBA(255, 255, 255);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    position: relative;
    height: 116px;
}
.css-o2tasi .MuiCardHeader-avatar::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -55px;
    width: 165px;
    height: 165px;
    background-color: RGBA(0, 196, 180);
    border-radius: 50%;
}
.css-1p83tvv {
    display: flex;
    flex: 0 0 auto;
    margin-right: 16px;
}
.css-11qjisw {
    flex: 1 1 auto;
}
.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.css-1m53fs5 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: NoirPro, Arial;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    width: 60px;
    height: 60px;
    box-shadow: RGBA(0 0 0 / 20%) 0px 3px 1px -2px, RGBA(0 0 0 / 14%) 0px 2px 2px 0px, RGBA(0 0 0 / 12%) 0px 1px 5px 0px;
    position: relative;
}
.css-xjuj3x {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    z-index: 2;
    position: relative;
}
.css-1oiueny {
    background-color: RGBA(255, 255, 255);
    color: RGBA(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: RGBA(115 82 199 / 18%) 0px 0.5rem 1.25rem;
    position: relative;
}
.css-jwj1vn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: RGBA(255, 255, 255);
    background-color: RGBA(115, 82, 199);
    box-shadow: RGBA(0 0 0 / 20%) 0px 3px 1px -2px, RGBA(0 0 0 / 14%) 0px 2px 2px 0px, RGBA(0 0 0 / 12%) 0px 1px 5px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}
.css-qjljdp {
    margin: 0px 0px 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 400;
    color: RGBA(55, 55, 60);
    font-family: NoirPro, Arial;
}

//button css
.btn-gradient-primary {
    background: #8163cc!important;
}

// background css
.bg-gradient-success.card-img-holder{
    background-image: linear-gradient(rgb(163, 234, 211), rgb(59, 210, 162))!important;
    border-top: 4px solid rgb(59, 210, 162);
}

.bg-gradient-danger.card-img-holder{
    background-image: linear-gradient(rgb(244, 163, 172), rgb(231, 49, 69))!important;
    border-top: 4px solid rgb(231, 49, 69);
}

.bg-gradient-info.card-img-holder{
    background-image: linear-gradient(rgb(193, 178, 230), rgb(115, 82, 199));
    border-top: 4px solid rgb(115, 82, 199);
}

.sipInput {
    color: #8163cc!important;
}

.text-success{
    color: #8163cc!important;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1i3gbz2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    z-index: 2;
    position: relative;
    border-bottom-color: rgb(222, 226, 230);
}
.css-aocaed {
    background-color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
    background-image: linear-gradient(rgb(193, 178, 230), rgb(115, 82, 199));
    position: relative;
    color: rgb(255, 255, 255);
    border-top: 4px solid rgb(115, 82, 199);
}
.css-64un3z {
    background-image: linear-gradient(rgb(163, 234, 211), rgb(59, 210, 162));
    border-top: 4px solid rgb(59, 210, 162);
    border-radius: 12px;
    color: white;
}
.css-y7cs5t{
    background-image: linear-gradient(rgb(249, 204, 138), rgb(243, 151, 17));
    border-top: 4px solid rgb(243, 151, 17);
    border-radius: 12px;
    color: white;
}
.css-tq9b27{
    background-image: linear-gradient(rgb(244, 163, 172), rgb(231, 49, 69));
    border-top: 4px solid rgb(231, 49, 69);
    border-radius: 12px;
    color: white;
}
.css-iyzm1h {
    background-color: rgb(255, 255, 255);
    color: rgb(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
    position: relative;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1lf2qyz {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 22px;
}
.css-1w7e976 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(115, 82, 199);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    min-width: 24px;
    padding: 6px 10px;
}
.css-1dr2gsz {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgb(71, 82, 89);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-xjuj3x {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    z-index: 2;
    position: relative;
}
.css-1xnij97:last-child {
    padding-bottom: 24px;
}
.css-1xnij97 {
    padding: 0px 24px 24px;
    z-index: 2;
    position: relative;
}
.css-1uzmcsd {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.css-13qbgj9 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 12px 24px;
}
.css-gw9jds {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 12px 24px;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-rzk08f {
    display: flex;
    flex-direction: row;
    padding: 24px;
    margin-bottom: 5px;
}
.css-1c0g2ox {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    padding: 0px;
    min-width: 0px;
    width: 40px;
    height: 40px;
    z-index: 1050;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}
.css-1ptdtbs {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    padding: 0px;
    min-width: 0px;
    width: 40px;
    height: 40px;
    z-index: 1050;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 81, 181);
}
.css-wjh1gz {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    padding: 0px;
    min-width: 0px;
    width: 40px;
    height: 40px;
    z-index: 1050;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 30, 99);
}
.css-rzk08f > :not(style) + :not(style) {
    margin: 0px 0px 0px 8px;
}
.css-5efwz4 {
    color: rgb(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
    background: url("../assets/images/Explore_place.jpg") center center / cover no-repeat;
    position: relative;
    height: 330px;
}
.css-12a6upa {
    margin: 0px 0px 0.5rem;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(55, 55, 60);
    font-family: NoirPro, Arial;
}
.css-sf71ho {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
    vertical-align: middle;
    margin-right: 4px;
}
.css-xjuj3x {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    z-index: 2;
    position: relative;
}
.css-p4cmdx {
    inset: auto 20px 20px;
    z-index: 3;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 8px;
    text-align: center;
}
.css-1oo8ecw {
    z-index: 2;
    position: relative;
}
.css-19kzrtu {
    padding: 24px;
}
.css-6gnggm {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(222, 226, 230);
}
.css-p1lzxd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 24px;
}
.css-105dx4f {
    display: flex;
    flex-direction: row;
    color: rgb(133, 149, 166);
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-3n2bqr {
    margin: 0px;
    font-size: 0.875rem;
    font-family: NoirPro, Arial;
    font-weight: 400;
    line-height: 1.5;
}
.css-105dx4f > :not(style) + :not(style) {
    margin: 0px 0px 0px 8px;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-myva60 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
}
.css-5or1w4 {
    inset: 0px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.css-p4cmdx {
    inset: auto 20px 20px;
    z-index: 3;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 8px;
    text-align: center;
}
.css-1oiueny {
    background-color: rgb(255, 255, 255);
    color: rgb(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
    position: relative;
}
.css-xjuj3x {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    z-index: 2;
    position: relative;
}
.css-1275i4j {
    overflow: hidden;
    min-height: 48px;
    display: flex;
    border-bottom: 1px solid rgb(222, 226, 230);
    border-top-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-left-color: rgb(222, 226, 230);
}
.css-11qjisw {
    flex: 1 1 auto;
}
.css-tevfyd {
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 0px;
}
.css-1hswelu {
    max-width: 100%;
    font-family: NoirPro, Arial;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 74, 119);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    height: 22px;
    font-size: 12px;
}
.css-1oma3za.Mui-selected {
    color: rgb(115, 82, 199);
}
.css-1oma3za {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25;
    text-transform: uppercase;
    max-width: 360px;
    min-width: 90px;
    position: relative;
    min-height: 48px;
    padding: 12px 16px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
    color: rgb(133, 149, 166);
    flex: 1 1 auto;
}
.css-tt3czs {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px currentcolor;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: NoirPro, Arial;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
    background-color: rgb(224, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}
.css-tavflp {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}
.css-a3wybe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 24px;
}
.css-ant7mv {
    margin: 0px;
    color: rgb(115, 82, 199);
    line-height: 1.2;
    text-decoration: none;
}
.css-1uzmcsd {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.css-1c7vlhc {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 24px;
}
.css-1oiueny {
    background-color: rgb(255, 255, 255);
    color: rgb(71, 82, 89);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(115, 82, 199, 0.176) 0px 0.5rem 1.25rem;
    position: relative;
}
.css-w831un {
    height: 260px;
    color: rgb(255, 255, 255);
    position: relative;
    background-image: linear-gradient(rgb(132, 60, 246), rgb(56, 184, 242));
}
.css-hyq3if {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 24px;
    position: relative;
    z-index: 3;
}
.css-11qjisw {
    flex: 1 1 auto;
}
.css-tevfyd {
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 0px;
}
.css-1oo8ecw {
    z-index: 2;
    position: relative;
}
.css-9enyu9 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: -16px;
}
.css-1cw4bb9 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: NoirPro, Arial;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 90px;
    font-size: 28px;
    color: rgb(71, 82, 89);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    margin-bottom: 16px;
}
.css-uicpbe {
    margin: 0px 0px 0.5rem;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: NoirPro, Arial;
    color: rgb(255, 255, 255);
}
.css-1xys2wk {
    margin: 0px 0px 8px;
    font-size: 0.875rem;
    font-family: NoirPro, Arial;
    font-weight: 400;
    line-height: 1.5;
}
.css-1xzjpur {
    padding: 24px;
    position: relative;
}
.css-1oo8ecw {
    z-index: 2;
    position: relative;
}
.css-qop0nf {
    margin: 0px 0px 16px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: NoirPro, Arial;
    color: rgb(133, 149, 166);
}
.css-1opa6fd {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
}
.css-14imsqj {
    list-style: none;
    display: flex;
    position: relative;
    min-height: 70px;
}
.css-11tgw8h {
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    -webkit-box-align: center;
    align-items: center;
}
.css-13psa6e {
    margin: 0px 0px 0px 20px;
    font-size: 0.875rem;
    font-family: NoirPro, Arial;
    font-weight: 400;
    line-height: 1.5;
    flex: 1 1 0%;
    text-align: left;
    padding: 4px 0px;
}
.css-1v8j3oa {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    border-color: transparent;
    color: rgb(250, 250, 250);
    margin: 4px 0px;
    background-color: rgb(115, 82, 199);
    width: 20px;
    height: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(0, 0, 0, 0.08) 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 3px 0px 4px;
}
.css-idv8vo {
    width: 2px;
    background-color: rgb(189, 189, 189);
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-11fs8cu {
    margin: 0px 0px 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: NoirPro, Arial;
    color: rgb(71, 82, 89);
    line-height: 1.5;
}
.css-wswjwv {
    margin: 0px 0px 16px;
    font-family: NoirPro, Arial;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(133, 149, 166);
    font-size: 12px;
}
.css-fcr8e5 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}
.css-73zlqr {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    border-color: transparent;
    color: rgb(250, 250, 250);
    margin: 4px 0px;
    background-color: rgb(228, 74, 119);
    width: 20px;
    height: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(0, 0, 0, 0.08) 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 3px 0px 4px;
}
.css-1sm6mlj {
    display: flex;
    align-self: baseline;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 50%;
    border-color: transparent;
    color: rgb(250, 250, 250);
    margin: 4px 0px;
    background-color: rgb(59, 210, 162);
    width: 20px;
    height: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgba(0, 0, 0, 0.08) 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 3px 0px 4px;
}
.css-1xar93x {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.css-1l5geqr {
    margin: 0px 0px 4px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(55, 55, 60);
    font-family: NoirPro, Arial;
}
.css-1aqubt9 {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 24px;
    transition: all 0.2s ease 0s;
}
.css-uopt2g {
    list-style: none;
    margin: 0px 0px 8px;
    padding: 0px;
    position: relative;
}
.css-rpx22u {
    color: rgb(115, 82, 199);
}
.css-1vnkcgl {
    margin: 0px;
    font-family: NoirPro, Arial;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(133, 149, 166);
    font-size: small;
}
.css-1aqubt9:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px;
    transform: translateY(-4px);
}
.css-1aqubt9:hover {
    text-decoration: none;
    background-color: rgb(245, 247, 250);
}
.css-ulk2bu:last-child {
    padding-bottom: 24px;
}
.css-m8qw0z {
    margin: 0px 0px 0px 12px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.css-1pclk9a {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: NoirPro, Arial;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    width: 48px;
    height: 48px;
}
.css-149vso {
    flex-shrink: 0;
    min-width: 68px;
}